*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: unset;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

button {
  background: unset;
  border: unset;
  outline: unset;
  color: unset;
  cursor: unset;
}

img {
  width: 100%;
  object-fit: contain;
}

input, textarea {
  border: unset;
  outline: unset;
}

body {
  position: relative;
}

.navbar {
  background: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  z-index: 10;
}

.navbar .logo a {
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}

@media screen and (max-width: 640px) {
  .navbar {
    padding: 20px;
  }

  .menu-toggle {
    display: flex;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 60px;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .navbar ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar li {
    margin: 15px 0;
  }
}

.container {
  margin-top: 120px;
  display: flex;
  row-gap: 50px;
}

.left {
  width: 100%;
  background-color: #18bebb;
  color: white;
  padding: 70px;
}

.left .heading {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.left .description {
  margin-top: 10px;
  line-height: 1.3rem;
  margin-bottom: 30px;
}

.left .info {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
}

.info img {
  width: 25px;
  height: 25px;
  filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(296deg)
    brightness(115%) contrast(100%);
}

.right {
  width: 100%;
  padding: 20px 30px;
  text-align: center;
}

.right h2 {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
}

input, textarea {
  background: #F2F2F2;
  padding: 15px;
}

form button {
  background-color: #18bebb;
  color: white;
  padding: 15px 30px;
  font-weight: bold;
}

.details .primary {
  text-transform: uppercase;
}

.details .secondary {
  margin-top: 5px;
}

footer {
  margin-top: 100px;
  padding: 20px 50px;
  background-color: black;
  color: white;
}

footer .logo {
  font-size: 1.5rem;
}

footer .note {
  margin-top: 20px;
  font-size: 0.9rem;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
}