*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: unset;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

button {
  background: unset;
  border: unset;
  outline: unset;
  color: unset;
  cursor: unset;
}

img {
  width: 100%;
  object-fit: contain;
}

body {
  position: relative;
}

.navbar {
  background: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  z-index: 10;
}

.navbar .logo a {
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.navbar li {
  list-style: none;
}

.outer {
  background-color: black;
}

.header {
  max-width: 1220px;
  margin: 60px auto 0;
  padding: 0 30px;
  height: calc(100vh - 60px);
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  overflow: hidden;
}

.header .content {
  flex: 0 0 content;
  margin-top: 40px;
}

.header .image {
  max-height: 100%;
  flex: 5 0 300px;
  display: flex;
}

.header img {
  object-fit: contain;
}

.header h2 {
  font-size: 2.2rem;
  margin-bottom: 30px;
}

.header button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.2s;
}

.header button:hover {
  background: white;
  color: black;
}

section {
  margin-top: 100px;
  padding: 0 50px;
}

section h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

section .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

section .card {
  border-radius: 5px;
  overflow: hidden;
}

.container-link {
  margin-top: 20px;
  text-decoration: underline;
  color: blue;
}

.article {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.article .details {
  padding: 15px;
}

.article .date {
  opacity: 0.8;
  font-size: 0.9rem;
}

.article .title {
  margin-top: 10px;
  line-height: 1.5rem;
}

.article button {
  margin-top: 25px;
  border: 1px solid black;
  padding: 8px 20px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.2s;
}

.article button:hover {
  background-color: black;
  color: white;
}

.review {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 20px;
}

.review .info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review .info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.review .date {
  opacity: 0.8;
  font-size: 0.9rem;
  margin-top: 3px;
}

.review .content {
  margin-top: 10px;
  line-height: 1.3rem;
}

footer {
    margin-top: 100px;
    padding: 20px 50px;
    background-color: black;
    color: white;
}

footer .logo {
    font-size: 1.5rem;
}

footer .note {
    margin-top: 20px;
    font-size: .9rem;
}

@media (max-width: 1024px) {
  section .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  section .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  section .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
